<h2>
  list-books works!
</h2>


<table>
  <thead>
    <tr>
      <th id="nameHeader">Name</th>
      <th id="authorHeader">Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td><a [routerLink]="['/books', book.id]">Show</a></td>
      <td><a [routerLink]="['/books', book.id, 'edit']">Edit</a></td>
      <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" [routerLink]="['/books', book.id]">
        Destroy</a></td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/books', 'new']">New Book</a>
